body {
  background-color: #EEE2DC;
}

/* Flex description & slideshow together in same row */
.processBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
}

ul {
  padding-top: 20px;
}

li {
  margin-left: 30px;
  margin-bottom: 5px;
}

p {
  padding-top: 40px;
  text-align: justify;
}

.block {
  width: 40%;
}

.secondBlock {
  width: 50%;
  height: 400px;
}

/* Resizes for mobile platform */
@media only screen and (max-width: 600px) {
  p {
    font-size: 14px;
    width: 100%;
    padding-top: 20px;
  }

  .processBlock {
    flex-direction: column;
    width: 90%;
  }

  .block {
    width: 100%;
  }

  .secondBlock {
    width: 95%;
    height: 200px;
  }

  li {
    font-size: 14px;
  }

  div {
    padding-left: 0;
    padding-right: 0;
  }

}



