<body style="padding:20px">

<div style="text-align:center">
  <h1>
    ABOUT
  </h1>
  <hr>
</div>

<div class="processBlock">
  <div class="block">
    <p>
      I graduated with my bachelors in CS from Georgia Tech, where I was able to
      expand my passion for software to the horizons of Human-Computer Interaction,
      mobile app development, and beyond.
    </p>
    <p>
      A few of my favorite things:
    </p>
    <ul>
      <li>Working through a challenging problem</li>
      <li>Designing intuitive interfaces</li>
      <li>Researching and exploring a new field</li>
      <li>Running long distances</li>
      <li>Drinking french press coffee</li>
      <li>*Attempting* to herd cats</li>
    </ul>
  </div>

  <div class="block">
    <slideshow [imageUrls]="imagesUrl"

               [lazyLoad]="imagesUrl.length > 1"
               [autoPlayWaitForLazyLoad]="true">></slideshow>
  </div>

</div>
  <!--&lt;!&ndash; Slideshow container &ndash;&gt;-->
  <!--<div class="slideshow-container">-->

    <!--&lt;!&ndash; Full-width images with number and caption text &ndash;&gt;-->
    <!--<div class="mySlides fade">-->
      <!--<div class="numbertext">1 / 3</div>-->
      <!--<img src="../assets/coffee.jpg" alt="Problem-solving with a treat">-->
      <!--<div class="text">Caption Text</div>-->
    <!--</div>-->

    <!--<div class="mySlides fade">-->
      <!--<div class="numbertext">2 / 3</div>-->
      <!--<img src="../assets/pounce.png" alt="Pounce Gameboy Game">-->
      <!--<div class="text">Caption Two</div>-->
    <!--</div>-->

    <!--<div class="mySlides fade">-->
      <!--<div class="numbertext">3 / 3</div>-->
      <!--<img src="../assets/running.jpg" alt="Roy Griak Invite">-->
      <!--<div class="text">Caption Three</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Next and previous buttons &ndash;&gt;-->
    <!--<a class="prev" onclick="plusSlides(-1)">&#10094;</a>-->
    <!--<a class="next" onclick="plusSlides(1)">&#10095;</a>-->
  <!--</div>-->
  <!--<br>-->

  <!--&lt;!&ndash; The dots/circles &ndash;&gt;-->
  <!--<div style="text-align:center">-->
    <!--<span class="dot" onclick="currentSlide(1)"></span>-->
    <!--<span class="dot" onclick="currentSlide(2)"></span>-->
    <!--<span class="dot" onclick="currentSlide(3)"></span>-->
  <!--</div>-->

<!--<script>-->
  <!--var slideIndex = 1;-->
  <!--showSlides(slideIndex);-->

  <!--function plusSlides(n) {-->
    <!--showSlides(slideIndex += n);-->
  <!--}-->

  <!--function currentSlide(n) {-->
    <!--showSlides(slideIndex = n);-->
  <!--}-->

  <!--function showSlides(n) {-->
    <!--var i;-->
    <!--var slides = document.getElementsByClassName("mySlides");-->
    <!--var dots = document.getElementsByClassName("dot");-->
    <!--if (n > slides.length) {slideIndex = 1}-->
    <!--if (n < 1) {slideIndex = slides.length}-->
    <!--for (i = 0; i < slides.length; i++) {-->
      <!--slides[i].style.display = "none";-->
    <!--}-->
    <!--for (i = 0; i < dots.length; i++) {-->
      <!--dots[i].className = dots[i].className.replace(" active", "");-->
    <!--}-->
    <!--slides[slideIndex-1].style.display = "block";-->
    <!--dots[slideIndex-1].className += " active";-->
  <!--}-->
<!--</script>-->

</body>


