<body style="padding:40px">

<div style="text-align:center">
  <img src="../assets/about.png" alt="About" width="150px" height="80px">
  <hr>
</div>

<div class="processBlock">
  <div class="block">
  <p>
    I am currently a software developer for Infosys!
    I graduated with my BS in CS from Georgia Tech, where I was able to
    expand my passion for software to the horizons of Human-Computer Interaction,
    mobile/web app development, and beyond.
  </p>
  <p>
    A few of my favorite things:
  </p>
  <ul>
    <li>Working through a challenging problem</li>
    <li>Designing intuitive interfaces</li>
    <li>Researching and exploring a new field</li>
    <li>Running long distances</li>
    <li>Drinking french press coffee</li>
    <li>*Attempting* to herd cats</li>
  </ul>
  </div>

  <div class="secondBlock">
    <slideshow [imageUrls]="imagesUrl"

               [lazyLoad]="imagesUrl.length > 1"
               [autoPlayWaitForLazyLoad]="true">></slideshow>
  </div>

</div>

</body>


