/* Top navigation bar */
nav {
  padding-top: 3%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Allow container to fill only middle 80% of page */
.container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Styles links */
a {
  color: #123C69;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

/* White on hover */
a:hover {
  color: white;
}




