<!--Top navbar fixed to top of screen-->
<div class="container">
  <div id="welcome">
    <a href="#welcome">
      <img src="../assets/name2.png" alt="Handwritten Name" class="name" width="125" height="50">
    </a>
  </div>
  <div>
    <nav>
        <div>
          <a href="#mywhy">My Why</a>
        </div>
        <div>
          <a href="#about">About</a>
        </div>
        <div>
          <a href="#projects">Projects</a>
        </div>
        <div>
          <a href="#contact">Contact</a>
        </div>
    </nav>
  </div>
</div>


