<body style="padding: 40px">
<div style="text-align:center">
  <img src="../assets/projects.png" alt="Projects" width="150px" height="80px">
  <hr>
</div>

  <div class="block">
    <div>
      <img class="myIcon" src="../assets/calico.png" alt="Pounce Icon">
    </div>
    <div class="info">
      <div>
        <h3>
          Attack Analysis
        </h3>
      </div>
      <div>
        <p>
          Yada yada yada...Yada yada yada...Yada yada yada...Yada yada yada...Yada yada yada...
          Yada yada yada...
        </p>
      </div>
    </div>
  </div>

<div class="block">
  <div>
    <img class="myIcon" src="../assets/calico.png" alt="Pounce Icon">
  </div>
  <div class="info">
    <div>
      <h3>
        ClearMind
      </h3>
    </div>
    <div>
      <p>
        Yada yada yada...Yada yada yada...Yada yada yada...Yada yada yada...Yada yada yada...
        Yada yada yada...
      </p>
    </div>
  </div>
</div>

<div class="block">
  <div>
    <img class="myIcon" src="../assets/calico.png" alt="Pounce Icon">
  </div>
  <div class="info">
    <div>
      <h3>
        HealthItForward
      </h3>
    </div>
    <div>
      <p>
        Yada yada yada...Yada yada yada...Yada yada yada...Yada yada yada...Yada yada yada...
        Yada yada yada...
      </p>
    </div>
  </div>
</div>

<div class="block">
  <div>
    <img class="myIcon" src="../assets/calico.png" alt="Pounce Icon">
  </div>
  <div class="info">
    <div>
      <h3>
        Pounce!
      </h3>
    </div>
    <div>
      <p>
        Yada yada yada...Yada yada yada...Yada yada yada...Yada yada yada...Yada yada yada...
        Yada yada yada...
      </p>
    </div>
  </div>
</div>

<div class="block">
  <div>
    <img class="myIcon" src="../assets/calico.png" alt="Pounce Icon">
  </div>
  <div class="info">
    <div>
      <h3>
        Courier Replica
      </h3>
    </div>
    <div>
      <p>
        Yada yada yada...Yada yada yada...Yada yada yada...Yada yada yada...Yada yada yada...
        Yada yada yada...
      </p>
    </div>
  </div>
</div>

</body>
