<body style="padding: 40px">
<div style="text-align:center">
  <img src="../assets/projects.png" alt="Projects" width="150px" height="80px">
  <hr>

  <div class="block">
    <div>
      <a href="https://github.com/MarkOrestis/ClearMind" target="_blank">
        <img class="myIcon" src="../assets/clearmind.png" alt="ClearMind Icon">
      </a>
    </div>
    <div class="info">
      <div>
        <h3>
          ClearMind
        </h3>
      </div>
      <div>
        <p>
          A cross-platform mobile application that calculates and updates users on changes in weather conditions,
          including barometric pressure, UV index, and different types of pollen counts,
          all of which may cause allergies, migraines, or sinus infections.
        </p>
      </div>
    </div>
  </div>

  <div class="block">
    <div>
      <a href="https://github.com/adunford3/HealthItForward.github.io" target="_blank">
        <img class="myIcon" src="../assets/healthitforward.png" alt="HealthItForward Icon">
      </a>
    </div>
    <div class="info">
      <div>
        <h3>
          HealthItForward
        </h3>
      </div>
      <div>
        <p>
          A progressive web based platform that aims to connect patients, caregivers,
          doctors, and medical researchers. The goal of HealthItForward is to accumulate medical data
          in order to help advance current medicine, both alternative and allopathic,
          as well as raise awareness of incurable diseases like Parkinson's.
        </p>
      </div>
    </div>
  </div>

  <div class="block">
    <div>
      <a href="https://github.com/maryeprouty/attack-analysis" target="_blank">
        <img class="myIcon" src="../assets/attack.png" alt="Attack Analysis Icon">
      </a>
    </div>
    <div class="info">
      <div>
        <h3>
          Attack Analysis
        </h3>
      </div>
      <div>
        <p>
          A Java program mapping malicious attack behaviors to common software weaknesses
          in order to prioritize technical debt in a security setting and refactor the
          vulnerabilities that pose the greatest threat in a software system. This research project
          was developed under the guidance of Dr. Clemente Izurieta, who co-authored the resulting
          pilot study with me, which can be found below.
        </p>
      </div>
    </div>
  </div>

  <div class="block">
    <div>
      <a href="https://github.com/maryeprouty/courier-replica" target="_blank">
        <img class="myIcon" src="../assets/courier.png" alt="Courier Icon">
      </a>
    </div>
    <div class="info">
      <div>
        <h3>
          Courier Replica
        </h3>
      </div>
      <div>
        <p>
          A replica of the Microsoft Courier tablet designed in Java Swing. This application
          features a multitude of drawing tools such as free-form digital ink, rubberbanding
          rectangles, and pink sticky notes for typed text, as well as a Simple Gesture Recognizer
          and animations between pages, all of which leverage the redraw pipeline.
        </p>
      </div>
    </div>
  </div>

  <div class="block">
    <div>
      <a href="https://github.com/maryeprouty/pounce" target="_blank">
        <img class="myIcon" src="../assets/calico.png" alt="Pounce Icon">
      </a>
    </div>
    <div class="info">
      <div>
        <h3>
          Pounce!
        </h3>
      </div>
      <div>
        <p>
          A Gameboy game where you, a small bunny, must maneuver through hedge mazes
          and avoid the evil cats lurking about. Four levels of fun with my own original
          sprites and game design!
        </p>
      </div>
    </div>
  </div>

</div>

</body>
