<body style="padding: 40px">
<div style="text-align:center">
  <img src="../assets/projects.png" alt="Projects" width="150px" height="80px">
  <hr>

  <!--Displays each project in projects array, with icon and description-->
  <div *ngFor='let project of projects' class="block">
    <div>
      <a href='{{project.link}}' target="_blank">
        <img class="myIcon" src='{{project.path}}' alt='{{project.title}} Icon'>
      </a>
    </div>
    <div class="info">
      <div>
        <h3>
          {{project.title}}
        </h3>
      </div>
      <div>
        <p>
          {{project.description}}
        </p>
      </div>
    </div>
  </div>

</div>
</body>
