<body style="padding:40px">
<div style="text-align:center">
  <img src="../assets/contact.png" alt="Contact" width="180px" height="80px">
  <hr>
  <p style="padding: 20px">
    Got a problem that needs solving? I'd love to help!
  </p>
  <p>
    Connect & learn more:
  </p>
  <a href="https://www.linkedin.com/in/mary-prouty-308b81190/" target="_blank">
    <img src="../assets/linkedin.png" alt="LinkedIn Icon" width="60px" height="60px">
  </a>
  <a href="//github.com/maryeprouty" target="_blank">
    <img src="../assets/github.png" alt="LinkedIn Icon" width="60px" height="60px">
  </a>
</div>
</body>
