<!--Place navbar on top of app component-->
<header>
  <app-navbar></app-navbar>
</header>

<!--Five dots for side navbar-->
<ul class="sidebar">
  <a href="#welcome">
    <li></li>
  </a>
  <a href="#mywhy">
    <li></li>
  </a>
  <a href="#about">
    <li></li>
  </a>
  <a href="#projects">
    <li></li>
  </a>
  <a href="#contact">
    <li></li>
  </a>
</ul>

<!--Components all on same page, welcome->about->projects->contact-->
<app-landing-page></app-landing-page>
<app-why id="mywhy"></app-why>
<app-about id="about"></app-about>
<app-projects id="projects"></app-projects>
<app-contact id="contact">
</app-contact>

<router-outlet></router-outlet>

