body {
  background-color: #BAB2B5;
}

div {
  padding-top: 20px;
}

/* Make MY WHY statement stand out */
h3 {
  font-weight: 800;
  font-style: italic;
  font-size: 18px;
}

p {
  padding-top: 30px;
  text-align:justify;
  width: 30%;
  margin: 0 auto;
}

/* Resizes for mobile platform */
@media only screen and (max-width: 600px) {
  p {
    font-size: 14px;
    width: 100%;
  }

}
