/* Text beside image */
body {
  background-color: #EEE2DC;
  padding-top: 20px;
  padding-bottom: 40px;
}

.myText {
  padding-top: 12%;
  padding-left: 5%;
  color: #123C69;
}

/* Framed photo of me :) */
.me {
  width: 85%;
  height: 95%;
  border-radius: 25px;
  padding: 0;
  border: 25px solid transparent;
  border-image: url('../../assets/frame.png') 40 stretch;
}

