/* You can add global styles to this file, and also import other style files */

/* Color scheme is "elegant but approachable", font is Garamond */
* {
  font-family: Garamond;
  font-weight: 300;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  background-color: #BAB2B5;
}

header:after {
  content: '';
  display: table;
  clear: both;
}

div {
  padding: 10px;
}

img {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

hr {
  margin: 0 auto;
  width: 20%;
  border: 1px solid black;
}

/* Flex between elts in a row */
.flexClass {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
  margin: 0 auto;
}

/* Allows navigation on the side as you scroll */
/* Commented out in html for now */
.sidebar {
  position: sticky;
  top: 35%;
  background-color: transparent;
  float: right;
  margin-right: 2%;
  margin-top: 45%;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }

  .flexClass {
    flex-direction: column;
  }
}